* {
  padding: 0;
  margin: 0;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}

.faq-item {
  position: relative;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-answer.open {
  max-height: 200px; /* Adjust as needed to fit your content */
  opacity: 1;
}

.faq-answer.closed {
  max-height: 0;
  opacity: 0;
}

.transform {
  transition: transform 0.3s ease;
}
